---
interface Props{
    tilte: string
    image: string
    informacion: string
}

const {tilte, image, informacion} = Astro.props
---

<div class='Container'>
    <div class="contenedor">
        <div class='top'>
            <h1>{tilte}</h1>
            <img src={image} alt="" />
        </div>

        <div class='informacion'>
            {informacion}
        </div>
    </div> 
</div>

<style>
.Container{
    padding: 10% 0 0 0;
}

.contenedor{
    display: flex;
    flex-direction: column;
    padding: 2% 0;
    width: 100%;
    transition: all 800ms;
    cursor: context-menu;
}.contenedor:hover{
    background-color: rgb(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    transition: all 800ms;
    border-radius: 10px 50px 10px 50px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1{
    font-size: 350%;
    text-shadow: 2px 5px 5px #000000;
    text-align: center;
}

img{
    width: 20%;
    border-radius: 10px;
}

.informacion{
    margin: 2% 0 0 0;
    text-align: center;
}

@media(max-width: 900px){
    .contenedor .top{
        display: flex;
        flex-direction: column;
    }
    .contenedor .informacion{
        padding: 0 2%;
    }

    .contenedor h1{
        font-size: 250%;
    }
}
</style>